snippet hook
	/**
	 * Implements hook_$1().
	 */
	function `Filename()`_${1:hook}(${2}) {
		${2:// Your code here}
	}
snippet alter
	/**
	 * Implements hook_$1_alter().
	 */
	function `Filename()`_${1:hook}_alter(&$${2:params}) {
		${3:// Your code here}
	}
snippet formalter
	/**
	 * Implements hook_form_$1_alter().
	 */
	function `Filename()`_form_${1:form_id}_alter(&$${2:params}) {
		${3:// Your code here}
	}
snippet file
	<?php
	/**
	 * @file
	 * ${1:comment}
	 */
	${2}
